# ✅ Оставляем JSON-файлы в data/
!data/*.json

# ❌ Игнорируем все подпапки и их содержимое в data/
data/*/

# 🧹 Игнорируем кеш и временные файлы
__pycache__/
*.pyc
*.log

# 🗂️ Игнорируем скрытые системные файлы
.DS_Store
Thumbs.db

kazunion-ocr-*.json