<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в админку Nika Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<div class="login-wrapper">
  <div class="login-box">
    <img src="/static/fon/logo.png" alt="Nika Travel" class="logo">
    <form method="POST" action="/admin/login">
      <input type="password" name="password" placeholder="Пароль" required>
      <button type="submit">Войти</button>
    </form>
  </div>
</div>
</html>
