<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить баннер — Админка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <h2>Добавить новый баннер</h2>
    <form method="POST" enctype="multipart/form-data">
      <div>
        <label>Картинка баннера</label>
        <input type="file" name="image" required>
      </div>

      <div>
        <label>Ссылка (куда ведёт баннер)</label>
        <input type="text" name="link" placeholder="/filter" required>
      </div>

      <button type="submit">Добавить баннер</button>
    </form>

</body>
</html>
