{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <h1>Доступные туры</h1>

<!-- Мобильные карточки -->
<div class="tour-cards-mobile">
  {% for tour in tours %}
  <a href="/tour/{{ loop.index0 }}" class="tour-card-link">
    <div class="tour-card">
      {% if tour.image %}
      <img src="{{ url_for('static', filename='img/' + tour.image) }}" class="card-image-mobile">
      {% endif %}
      <p><strong>Дата:</strong> {{ tour.departure_date }}</p>
      <p><strong>Город:</strong> {{ tour.city }}</p>
      <p><strong>Страна:</strong> {{ tour.country }}</p>
      <p><strong>Отель:</strong> {{ tour.hotel }}</p>
      <p><strong>Ночей:</strong> {{ tour.nights }}</p>
      <p><strong>Питание:</strong> {{ tour.meal }}</p>
      <p><strong>Цена:</strong> {{ tour.price }} ₸</p>
      <p><strong>Места:</strong> {{ tour.seats }}</p>
    </div>
  </a>
  {% endfor %}
</div>

<!-- Красивые карточки -->
<div class="tour-cards-grid">
  {% for tour in tours %}
  <a href="/tour/{{ loop.index0 }}" class="tour-card-link">
  <div class="tour-card-visual">
    <div class="tour-image-box">
  {% if tour.installment_months %}
  <div class="tour-badge-left">0-0-{{ tour.installment_months }}</div>
  {% endif %}

  {% if tour.discount_percent %}
  <div class="tour-badge-right">-{{ tour.discount_percent }}%</div>
  {% endif %}

  <img src="{{ url_for('static', filename='img/' + tour.image) }}" alt="{{ tour.hotel }}">
  <div class="tour-location">{{ tour.country }}, {{ tour.city }}</div>
</div>
   <div class="tour-info">
  <h3>{{ tour.hotel }}{% if tour.stars %} {{ tour.stars }}*{% endif %}</h3>
  <div class="tour-price">{{ tour.price }} ₸</div>

  {% if tour.old_price %}
  <div class="tour-old-price">{{ tour.old_price }} ₸</div>
  {% endif %}

  {% if tour.price_per_month %}
  <div class="tour-monthly">{{ tour.price_per_month }} ₸ x{{ tour.installment_months }}</div>
  {% endif %}
</div>
  </div>
  {% endfor %}
</div>
{% endblock %}





