{% extends "base.html" %}

{% block content %}

<div class="page-section">
  <div class="glass flight-card">

	<div id="avia-widget">
	  <script async src="https://tpwgts.com/content?currency=kzt&trs=505826&shmarker=707447&searchUrl=www.aviasales.ru%2Fsearch&locale=ru&powered_by=true&origin=UKK&destination=ALA&one_way=true&only_direct=true&period=year&range=7%2C14&primary=%230C73FE&color_background=%23ffffff&dark=%23000000&light=%23FFFFFF&achieve=%231E9904ff&promo_id=4041&campaign_id=100"></script>
	</div>

  </div>
</div>

<style>

/* фон */
body {
  background: linear-gradient(180deg, #f8f6f2, #f1ede7);
}

/* контейнер */
.page-section {
  max-width: 900px;
  margin: 90px auto 120px;
  padding: 0 16px;
  min-height: 70vh;
}

/* карточка */
.flight-card {
  padding: 20px;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(14px);
  border-radius: 20px;
}

/* виджет */
#avia-widget {
  margin-top: 10px;
}

/* скрытие меню для app */
.hide-mobile-nav .bottom-nav {
  display: none !important;
}

</style>

<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get("app") === "1") {
    document.body.classList.add("hide-mobile-nav");
  }
</script>

{% endblock %}