<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nika Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontend.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="/static/img/logo.png" alt="Nika Travel Logo">
            </div>
            <nav class="nav">
                <a href="/" class="nav-link">Главная</a>
                <a href="/about" class="nav-link">О нас</a>
                <a href="/contacts" class="nav-link">Контакты</a>
                <a href="/filter" class="nav-link">Поиск тура</a>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>

